{extend name="Template/template"/}
{block name="css"}
{/block}
{block name="js"}
{/block}
{block name='body'}
<div class="form-box border-bottom-none order-eidt-popup invoice-form-box clearfix">
    <div class="form-group "><span class="label"></span>
        <div class="box">
            <label class="select-wrap">
            <input class="select-btn" type="radio" name="is_choise"value="1" checked="">选择物流公司
            </label>
            <label class="select-wrap">
                <input class="select-btn" type="radio" name="is_choise" value="2">无需物流运输
            </label><br>
        </div>
    </div>
    <div id="shows">
        <div class="form-group " style="z-index: 2;"><span class="label">物流公司：</span>
            <div class="box">
                <div class="form-select-edit ">
                    <select style="width: 100%" id="logistics">
                        {volist name="log.data" id="lo"}
                        <option value="{$lo.id}"class="logname">{$lo.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group "><span class="label">物流单号：</span>
            <div class="box">
                <input class="input hd-input " type="text" id="delivery_sn" value="" tabindex="0"datatype="*">
                <span class="validform_checktip"></span>
            </div>
        </div>
    </div>
    <div class="form-group "><span class="label">确认订单发货备注：</span>
        <div class="box"><textarea class="textarea hd-input"id="text" placeholder="请填写订单操作日志（选填）"></textarea>
        </div>
    </div>
</div>
<div class="invoice-table-box">
    <div class="table high-table check-table invoice-table border">
        <div class="tr border-none">
            <div class="th w15 check-option"><input type="checkbox" id="check-aut-all"></div>
            <div class="th w55">商品信息<span class="spacer"></span></div>
            <div class="th w15">商品价格<span class="spacer"></span></div>
            <div class="th w15">购买数量<span class="spacer"></span></div>
            <div class="th w15">是否发货</div>
        </div>
        <div class="auto-box">
            {volist name="val.data" id="vo"}
            <div class="tr">
                <div class="td check-option"><input type="checkbox"class="qx" name="checkbox" value="{$vo.id}"></div>
                <div class="td w55">
                    <div class="td-con td-pic text-left">
                        <span class="pic"><img src="{$vo.img}"></span>
                        <span class="title txt text-ellipsis">{$vo.sku_name}</span>
                        <span class="icon text-ellipsis">商品规格：{$vo.spec}</span>
                    </div>
                </div>
                <div class="td w15">￥{$vo.sku_amount}</div>
                <div class="td w15">{$vo.number}</div>
                <div class="td w15">
                    {if $vo.status==1}否
                    {else /}是
                    {/if}
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="padding text-right ui-dialog-footer">
    <input type="hidden" name="sub_sn" value="20180305489710298531">
    <input type="submit" class="button bg-main" id="okbtn" value="确定" name="dosubmit" data-reset="false">
    <input type="button" class="button margin-left bg-gray" id="closebtn" value="取消" data-reset="false">
</div>
<input type="hidden" id="order_id" value="{$val.data[0]['id']}">
<input type="hidden" id="status" value="{$val.data[0]['status']}">
{/block}
{block name='script'}
<script src="__STATIC__/admin/js/handle.js"></script>
<script>
    $(function () {
        $('#check-aut-all').click(function () {
            if ($('#check-aut-all').attr("checked") == 'checked') {
                $('input[name="checkbox"]').attr("checked",'checked')
            } else {
                $('input[name="checkbox"]').attr("checked",false)
            }
        })
    })

    $('.select-btn').eq(1).click(function () {
            $('#logistics').hide()
            $('#delivery_sn').hide()

    })
    $('.select-btn').eq(0).click(function () {
        $('#logistics').show()
        $('#delivery_sn').show()
    })



    $('#okbtn').click(function () {
       var id=[];
        var text=$('#text').val();
        for (var i=0;i<$('input[name="checkbox"]').length;i++){
              if($('input[name="checkbox"]').attr("checked")=="checked"){
                  id[i]=$('input[name="checkbox"]').eq(i).val()
              }
        }
        if(id.length==0){
            layer.alert('请选择发货商品');
               return false
        }
        //判断是否需要物流公司公司
        if($('input[name="is_choise"]').attr('checked')=='checked'&&$('input[name="is_choise"]').val()==1){
            var delivery_sn=$('#delivery_sn').val();
            var wul=$('#logistics').val();
            if(delivery_sn==""){
                layer.alert('请填写物流单号');
                return false
            }
        }
        $.ajax(
            {
                url:'?s=admin/Confirmdelivergoods/ajax_logistics',
                type:'post',
                data:{'id':JSON.stringify(id),'delivery_sn':delivery_sn,'wul':wul,'text':text,'o_sn':'{$val["data"][0]["sn"]}','o_id':'{$val["data"][0]["order_id"]}'},
                success: function(data){
                    layer.alert("成功");    //页面不会刷新
                    var index=parent.layer.getFrameIndex(window.name)
                    window.parent.location.reload()
                }
            }
        )
    })

    </script>
{/block}