{extend name="Template/template"/}


{block name="css"}
{load href="__STATIC__/editor/css/wangEditor-1.1.0-min.css" / }
{load href="__STATIC__/editor/fontawesome-4.2.0/css/font-awesome.min.css" / }

<style>
    .layui-layedit{
        height: 220px;
        border:1px solid #cccccc;
    }
    .display-switch{
        display: inline-block;
        background: #a6e1ec;
        padding: 6px;
        border: 1px solid #e4b9c0;
        border-radius: 5px;
    }
    .clear{
        cursor: pointer;
    }
    .clear:hover{
        color:blue;
    }
    .th,.td{width: 14.28%}
</style>
{/block}

{block name="js"}
{load href="__STATIC__\layui\layui.js" / }
{load href="__STATIC__/editor/js/wangEditor-1.1.0-min.js" /}

{/block}

{block name='body'}
<div class="fixed-nav layout">
    <ul>
        <li class="first">礼包配置管理</li>
        <li class="spacer-gray"></li>
    </ul>
    <div class="hr-gray"></div>
</div>

<div class="content padding-big have-fixed-nav">
    <form action="javascript:" method="POST" enctype="multipart/form-data">
        <div class="form-box clearfix">
            <input type="hidden" name="id" value="{if(!empty($data.id))}{$data.id}{/if}" />
            <div class="form-group ">
                <span class="label">礼包名称：</span>

                <div style="">
                    <div class="box">
                        <input class="input hd-input name" lay-verify="required" type="text" name="name" value="{if(!empty($data.name))}{$data.name}{/if}"/>
                    </div>

                </div>
                <p class="desc">礼包名称</p>
            </div>

            <div class="form-group ">
                <span class="label">开始时间：</span>
                <div class="box">
                    <input class=" input laydate-icon hd-input start_time" type="text" name="start_time" value="{if(!empty($data.start_time))}{$data.start_time}{/if}" id="test5" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
                <p class="desc">礼包开始时间</p>
            </div>
            <div class="form-group ">
                <span class="label">结束时间：</span>
                <div class="box">
                    <input class=" input laydate-icon hd-input end_time" type="text" name="end_time" value="{if(!empty($data.end_time))}{$data.end_time}{/if}" id="test6" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
                <p class="desc">礼包结束时间</p>
            </div>

            <div class="form-group ">
                <span class="label">礼包有效期：</span>
                <div class="box">
                    <input class="input hd-input frequeny" type="text" name="frequeny" value="{if(!empty($data.expiration_date))}{$data.expiration_date}{/if}" tabindex="0" />
                </div>
                <p class="desc">请输入天数，将默认为有效期从开始时间到输入的天数终止</p>
            </div>
            <div class="form-group ">
                <span class="label">礼包包含奖品：</span>

                <div class="padding">
                    <div class="table-work border margin-tb">
                        <div class="border border-white tw-wrap">
                            <a class="choose-goods" href="javascript:;" onclick="Choice()"><i class="ico_add"></i>选择奖品</a>
                            <div class="spacer-gray"></div>
                        </div>
                    </div>
                    <div class="table resize-table border high-table clearfix " id="data_frame">
                        <div class="tr border-none">
                            <div class="th" data-width="30" >
                                <span class="td-con">商品名称</span>
                            </div>
                            <div class="th" data-width="20">
                                <span class="td-con">原价</span>
                            </div>
                            <div class="th" data-width="10">
                                <span class="td-con">库存</span>
                            </div>
                            <div class="th" data-width="10" >
                                <span class="td-con">活动限量</span>
                            </div>
                            <div class="th" data-width="15">
                                <span class="td-con">现价</span>
                            </div>
                            <div class="th" data-width="15">
                                <span class="td-con">操作</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="padding-top fl">
            <input type="submit" id="button" class="button bg-main" value="保存" />
            <a class="button margin-left bg-gray" id="datagrid" href="javascript:;"  onclick="javascript:history.back(-1);"/>返回</a>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $(".clear").click(function() {
            $.ajax({
                type: "post",
                dataType: "json",
                url: "?s=admin/Configuration/lete",
                data: {
                    name: $(this).attr("value"),
                    id: $("input[name=id]").val()
                },
                success:function(date){
                    if(date==1){
                        window.location.reload();
                    }
                }
            })
        })
    });
//    选择商品
    function Choice() {
        layer.open({
            type: 2,
            title: '加载中',
            shadeClose: true,
            shade: 0.8,
            area: ['880px', '500px'],
            content: '?s=admin/configuration/choice', //iframe的url
            end:function () {
                if(typeof localStorage.spuzu=="string"){
                    $array=JSON.parse(localStorage.spuzu);

                    for (i=0;i<$array.length;i++){
                        if($array[i]!=null){
                            $("#data_frame").append(spu_txt($array[i]))
                        }

                    }
                }
            }
        });
    }
    function spu_txt(a) {
        var string='<div class="tr sku_lists sku_id" style="visibility: visible" data-skuid='+a["id"]+' >' +
//            '<input style="display: none;" name="spu_id" value='+a["id"]+'>'+
            '<div class="td w30" >'+
            '<div class="td-con td-pic text-left">'+
            '<div class="pic"><img src='+a["thumb"]+' /></div>'+
            '<div class="title">'+
            '<p class="text-ellipsis padding-small-left">'+a["sku_name"]+'</p>'+
            '</div>'+
            '<div class="icon">'+
            '<p class="text-ellipsis"><span class="text-sub"></span></p>'+
            ' </div>'+
            '</div>'+
            '</div>'+
            '<div class="td w20 price" >'+
            '<div class="td-con" data-id='+a["id"]+' data-price='+a["shop_price"]+' data-number='+a["spu_number"]+'>'+a["shop_price"]+'</div>'+
            '</div>'+
            '<div class="td w10 " >'+
            '<div class="td-con">'+a["spu_number"]+'<input name="goods_sku['+a["id"]+']" type="hidden" value='+a["spu_number"]+'/></div>'+
            ' </div>'+
            '<div class="td w10" >'+
            '<div class="td-con">'+
            '<div class="padding-top padding-small-bottom"></div>'+
            '<input class="input double-click-edit text-ellipsis text-center Active_inventory" name="" type="text" value="" placeholder="请输入活动限量" data-reset="false" />'+
            '</div>'+
            '</div>'+
            '<div class="td w15" >'+
            '<div class="td-con">'+
            '<div class="padding-top padding-small-bottom"></div>'+
            '<input class="input double-click-edit text-ellipsis text-center Price_modification" name="spu_surplus_number" type="text" value="" placeholder="请输入活动剩余库存"  data-reset="false" />'+
            '</div>'+
            '</div>'+
            '<div class="td w15" >'+
            '<div class="td-con"><a class="remove-tr spu_remove" href="javascript:" >移除</a></div>'+
            '</div>'+
            '</div>'
        return string;
    }
    $(document).on("click",".spu_remove",function(){
        var con=$(this);
        layer.confirm('你确定要删除吗？', {
            btn: ['是的', '取消'] //按钮
        }, function () {
            var id = con.parents(".sku_id").attr("data-skuid");
//        for (i = 0; i < window.array.length; i++) {
//            if (window.array[i]["id"] == id) {
//                window.array.splice(i, 1)
//            }
//        }
            con.parents(".sku_id").remove();
            layer.closeAll()
        });
    });
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;
        //日期时间选择器 #test5
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
        });
        //日期时间选择器 #test6
        laydate.render({
            elem: '#test6'
            ,type: 'datetime'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //创建一个富文本框！o(∩_∩)o
        $(function() {
            $('#spanTime').text((new Date()).toString());
            var $editor = $('#txtDiv').wangEditor();
        });

        $(document).ready(function(){

            //点击切换显示与隐藏
            $("#switch").click(function(){
                $(".hidden-display").toggle();
            });

            //失去焦点获取input值
            $('.name').blur(function() {
                var name       = $('input[name=name]').val();
                if (!name) {
                    layer.msg('请输入名称', {icon: 5, time: 1500});
                }
            });
            $('.frequeny').blur(function() {
                var frequeny   = $('input[name=frequeny]').val();
                if(!frequeny){
                    layer.msg('请输入礼包有效期', {icon: 1, time: 1500});
                }
                if(isNaN(frequeny)){
                    layer.msg('有效期必须是数字', {icon: 1, time: 1500});
                }
            });

            $("input[name=number]").blur(function() {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "?s=admin/Configuration/update",
                    data: {
                        name: $(this).val(),
                        id: $("input[name=id]").val(),
                        con: $(this).attr("date-tit")
                    },
                    success:function(){
                        layer.msg("更新成功")
                    }
                })
            });
            //点击获取input值
            $("#button").click(function(){
                var name       = $('input[name=name]').val();
                // var img       = $('input[name=img]').val();
                var start_time = $('input[name=start_time]').val();
                var end_time   = $('input[name=end_time]').val();
                var frequeny   = $('input[name=frequeny]').val();
                if(!name){
                    layer.msg('请输入名称', {icon: 5,time:1500}); return false;
                }
                if(!start_time){
                    layer.msg('请选择开始时间',{icon: 5,time:1500}); return false;
                }
                if(!end_time){
                    layer.msg('请选择结束时间',{icon: 5,time:1500}); return false;
                }
                if(!frequeny){
                    layer.msg('请输入礼包有效期',{icon: 5,time:1500}); return false;
                }
                if(isNaN(frequeny)){
                    layer.msg('有效期必须是数字',{icon: 5,time:1500}); return false;
                }
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "?s=admin/configuration/cun&id={if(!empty($data.id))}{$data.id}{/if}",
                    data: {
                        name: name,
                        start_time: start_time,
                        end_time:end_time,
                        frequeny:frequeny
                    },
                    success:function(){
                        history.back(-1);
                    }
                })
            });
        });

    });
</script>

{/block}