
<div class="content padding-big have-fixed-nav">
        <input name="spu[id]" value="0" type="hidden">
        <!-- 商品类型开始 -->
        <div class="content-tabs margin-large-bottom clearfix">
            <div class="form-box clearfix" id="form">
                <div class="form-group" style="z-index: 2;">
                    <span class="label">请选择商品属性：</span>
                    <div class="box">
                        <div class="form-select-edit" id="spu-typeid">
                            <div class="form-buttonedit-popup">
                                <input class="input" value="" readonly="readonly" type="text">
                                <span class="ico_buttonedit"></span>
                            </div>
                            <div class="listbox-items" style="display: none;">
                            </div>
                            <input class="form-select-name" name="spu[type_id]" value="0" type="hidden">
                        </div>
                    </div>
                    <p class="desc">设置商品的类型属性，属性信息会在商品详情页显示，并且可以筛选本件商品</p>
                </div>
            </div>

            <div class="goods-attr-content margin border"></div>
        </div>
        <!-- 商品类型结束 -->

</div>

