<!--订单页面-->
{load href="__STATIC__/admin/css/order.css" /}

<div class="order_top">
<ul class="order_top_ul">
    <li class="order_top_li">订单管理[+]</li>
    <li class="order_top_li"></li>
    <li class="order_top_li">全部订单</li>
    <li class="order_top_li">待付款/li>
    <li class="order_top_li">待确认</li>
    <li class="order_top_li">待发货</li>
    <li class="order_top_li">已发货</li>
    <li class="order_top_li">已完成</li>
    <li class="order_top_li">已取消</li>
    <li class="order_top_li">已回收</li>
    <li class="order_top_li">昨日确人收货订单</li>
</ul>
</div>

