{extend name="Template/template"/}
{block name="css"}
{/block}
{block name="js"}
{/block}
{block name='body'}
    <div class="form-box border-bottom-none order-eidt-popup clearfix">
        <div class="form-group "><span class="label">是否通过申请？</span>
            <div class="box"><label class="select-wrap">
                <input class="select-btn" type="radio" name="status" value="1"checked/>同意
            </label>
                <label class="select-wrap">
                <input class="select-btn" type="radio" name="status" value="2"/>拒绝</label>
                <br/>
            </div>
        </div>
        <div class="form-group "><span class="label">操作备注(选填)：</span>
            <div class="box">
                <textarea class="textarea hd-input" id="textarea" name="msg" placeholder=""></textarea>
            </div>
        </div>
    </div>
    <div class="padding text-right ui-dialog-footer">
        <input type="button" class="button bg-main" id="okbtn" value="确定" data-name="dosubmit" data-reset="false"/>
        <input type="button" class="button margin-left bg-gray" id="closebtn" value="取消" data-reset="false"/>
        <input type="hidden" value="{$val}" id="refund_id">
    </div>
{/block}
{block name='script'}
<script src="__STATIC__/admin/js/handle.js"></script>
<script type="text/javascript">
    var index=parent.layer.getFrameIndex(window.name)
    $(function () {
        modify()
    })
</script>
{/block}