{extend name="Template/template"/}
{block name="css"}
{/block}
{block name="js"}
{/block}
{block name='body'}
<div class="form-box border-bottom-none order-eidt-popup clearfix">
    <div class="form-group "><span class="label">确认订单完成备注：</span>
        <div class="box"><textarea class="textarea hd-input" id="msgg" name="msg" placeholder="请填写订单操作日志（选填）"></textarea>
        </div>
    </div>
</div>
<div class="padding text-right ui-dialog-footer">
    <input type="hidden" name="sub_sn" value="20180302545053554951">
    <input type="submit" class="button bg-main" id="okbtn" value="确定" data-name="dosubmit" data-reset="false">
    <input type="button" class="button margin-left bg-gray" id="closebtn" value="取消" data-reset="false">
</div>
<input type="hidden" id="order_id" value="{$val.data[0]['id']}">
{/block}
{block name='script'}
<script src="__STATIC__/admin/js/handle.js"></script>
<script type="text/javascript">
    var index=parent.layer.getFrameIndex(window.name)
    confirm({'order_id':$('#order_id').val()},'?s=admin/Confirmcomplete/ajax_complete')
</script>
{/block}