<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>梦想全球乐购 后台管理</title>
    {block name="css"}
    {load href="__STATIC__/layui/css/layui.css" /}

    {/block}
    {block name="js"}
    {load href="__STATIC__/admin/js/jquery-1.8.2.min.js" /}
    {load href="__STATIC__/layer/layer.js" /}
    {load href="__STATIC__/admin/js/choice.js" /}
    {load href="__STATIC__/layui/layui.js" /}
    {/block}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
{block name="head"}
{/block}

{block name="left"}
{/block}

{block name="content"}
{/block}

{block name="bottom"}
{/block}


</div>
{block name="home_home"}
{/block}

{block name="script"}
<script>
    //JavaScript代码区域

    layui.use('element', function(){
        var element = layui.element;
    });
</script>
{/block}

</body>
</html>
