<div id="choose" class="choose_hidden">
    <table class="ui-dialog-grid">
        <tbody>
        <tr>
            <td i="header" class="ui-dialog-header">
                <div i="close" class="ui-dialog-close">×</div>
                <div i="title" class="ui-dialog-title">选择上级分类</div>
            </td>
        </tr>
        <tr>
            <td i="body" class="ui-dialog-body">
                <div i="content" class="ui-dialog-content" style="width: 930px; height: 367px;">
                    <div class="goods-add-class-wrap layout bg-white">

                        <div class="goods-add-class clearfix">
                            <div class="root border focus">
                                <a href="javascript:" data-id="0" class="focus cateId"> 顶级分类 </a>
                            </div>
                            <div class="child border focus">

                            </div>
                            <div class="child border focus">

                            </div>
                            <div class="child border focus">

                            </div>
                            <p class="layout fl margin-top goods-class-choose">
                                您当前所选择的分类：
                                <span id="data-id" data-id="0"></span>
                            </p>
                        </div>
                        <div class="padding text-right ui-dialog-footer">
                            <input class="button bg-main" id="okbtn" value="确定" type="button">
                            <input class="button margin-left bg-gray" id="closebtn" value="返回" type="button">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


