<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{block name='title'}{/block}</title>
    <script src="__STATIC__/admin/js/jquery-1.8.2.min.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>
    <script src="__STATIC__/layui/layui.js"></script>
    <script src="__STATIC__/js/vue.js"></script>
    <script src="__STATIC__/admin/js/public.js"></script>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/haidao.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/admin.css">
    <link rel="stylesheet" href="__STATIC__/admin/css/public.css">

    {block name="css"}
    {/block}
    {block name="js"}
    {/block}
</head>
<body>
{block name='body'}


{/block}

{block name='script'}


{/block}

</body>
</html>