{extend name="Template/template"/}
{block name="css"}
{/block}
{block name="js"}
{/block}
{block name='body'}
<table class="ui-dialog-grid">
    <tbody>
    <tr>
        <td i="body" class="ui-dialog-body">
            <div i="content" class="ui-dialog-content" id="content:1523513494284" style="width: 680px;">
                <div class="logistics-info padding-big bg-white text-small"><p
                        class="border-bottom border-dotted padding-small-bottom margin-small-bottom"><span
                        class="margin-big-right">物流公司：圆通快递</span>&nbsp;&nbsp;物流单号：700401503272</p>
                    <p>2018-04-12 15:08:36&nbsp;&nbsp;&nbsp;&nbsp;客户 签收人: 邮件收发章 已签收 感谢使用圆通速递，期待再次为您服务</p>
                    <p>2018-04-12 15:08:36&nbsp;&nbsp;&nbsp;&nbsp;【四川省成都市金牛区四部公司】 派件人: 程龙军 派件中 派件员电话18908092448</p>
                    <p>2018-04-12 15:08:36&nbsp;&nbsp;&nbsp;&nbsp;【成都转运中心】 已发出 下一站 【四川省成都市金牛区四部公司】</p>
                    <p>2018-04-12 15:08:36&nbsp;&nbsp;&nbsp;&nbsp;【成都转运中心】 已收入</p>
                    <p>2018-04-12 15:08:36&nbsp;&nbsp;&nbsp;&nbsp;【四川省成都市洞子口公司】 已发出 下一站 【成都转运中心】</p>
                    <p>2018-04-12 15:08:36&nbsp;&nbsp;&nbsp;&nbsp;【四川省成都市洞子口公司】 已打包</p>
                    <p>2018-04-12 15:08:36&nbsp;&nbsp;&nbsp;&nbsp;【四川省成都市洞子口公司】 已收件</p>
                    <p>2018-04-12 15:08:36&nbsp;&nbsp;&nbsp;&nbsp;【四川省成都市洞子口公司】 取件人: 付成勇 已收件</p>
                    <p>2018-02-02 16:41:34&nbsp;&nbsp;&nbsp;&nbsp;您的订单配货完毕，已经发货。快递单号：700401503272</p></div>
            </div>
        </td>
    </tr>
    <tr>
        <td i="footer" class="ui-dialog-footer">
            <div i="statusbar" class="ui-dialog-statusbar" style="display: none;"></div>
            <div i="button" class="ui-dialog-button">
                <input style="float: right;margin: 10px 10px;" type="submit" class="button bg-main" id="okbtn" value="确定" data-name="dosubmit" data-reset="false">
            </div>
        </td>
    </tr>
    </tbody>
</table>
{/block}
{block name='script'}
{/block}