{extend name="Template/template" /}
{block name='body'}
<div class="fixed-nav layout">
    <ul>
        <li class="first">后台首页</li>
        <li class="spacer-gray"></li>
    </ul>
    <div class="hr-gray"></div>
</div>
<div class="content padding-big have-fixed-nav">
    <div class="margin-top">
        <div class="fl w50 padding-small-right">
            <table cellpadding="0" cellspacing="0" class="border bg-white layout">
                <tbody>
                <tr class="bg-gray-white line-height-40 border-bottom">
                    <th class="text-left padding-big-left">待办事项</th>
                </tr>
                <tr class="border">
                    <td class="padding-big-left padding-big-right padding-bottom">
                        <table cellpadding="0" cellspacing="0" class="layout">
                            <tbody>
                            <tr class="line-height-40">
                                <th class="text-left" colspan="3">订单提醒</th>
                            </tr>
                            <tr class="text-lh-big">
                                <td>待付款订单：<a href="?s=admin/Orderdetails/init&type=1" title="点击去查看"><b class="text-main" data-id="pay">{$Pending_payment}</b></a></td>
                                <td>待确认订单：<a href="?s=admin/Orderdetails/init&type=2" title="点击去查看"><b class="text-main" data-id="confirm">{$confirm_status}</b></a></td>
                                <td>待发货订单：<a href="?s=admin/Orderdetails/init&type=3" title="点击去查看"><b class="text-main" data-id="delivery">{$Pending_deliver}</b></a></td>
                            </tr>
                            <tr class="text-lh-big">
                                <td>待评价商品：<b class="text-main" data-id="load_comment">{$Pending_evaluate}</b></td>
                                <td>待退货申请：<a href="?s=admin/Returnbill/index&type=2" title="点击去查看"><b class="text-main" data-id="load_return">{$goods}</b></a></td>
                                <td>待退款申请：<a href="?s=admin/refund/index&type=2" title="点击去查看"><b class="text-main" data-id="load_refund">{$moneny}</b></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="border">
                    <td class="padding-big-left padding-big-right padding-bottom">
                        <table cellpadding="0" cellspacing="0" class="layout">
                            <tbody>
                            <tr class="line-height-40">
                                <th class="text-left" colspan="3">商品管理</th>
                            </tr>
                            <tr class="text-lh-big">
                                <td>出售中的商品：<b class="text-main" data-id="goods_in_sales">{$status}</b></td>
                                <td>待上架的商品：<a href="?s=admin/Productall/index" title="点击去查看"><b class="text-main" data-id="goods_load_online">{$no_status}</b></a></td>
                                <td>库存警告商品：<a href="?s=admin/Productall/index" title="点击去查看"><b class="text-main" data-id="goods_number_warning">{$number}</b></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="padding-big-left padding-big-right padding-bottom">
                        <table cellpadding="0" cellspacing="0" class="layout">
                            <tbody>
                            <tr class="line-height-40">
                                <th class="text-left" colspan="3">信息管理</th>
                            </tr>
                            <tr class="text-lh-big">
                                <td>待处理咨询：<a href="/index.php?m=goods&c=goods_consult&a=index&status=0" title="点击去查看"><b class="text-main" data-id="consult_load_do">0</b></a></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <table cellpadding="0" cellspacing="0" class="margin-top border bg-white layout">
                <tbody>
                <tr class="bg-gray-white line-height-40 border-bottom">
                    <th class="text-left padding-big-left">商城信息</th>
                </tr>
                <tr class="border-bottom">
                    <td class="text-left today-sales padding-big padding-small-top padding-small-bottom line-height-40">
                        <span class="fl">已完成订单总数</span>
                        <a href="?s=admin/Orderdetails/init&type=5" title="点击去查看"><span class="fr" data-id="finish">{$count}</span></a>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="text-left today-sales padding-big padding-small-top padding-small-bottom line-height-40">
                        <span class="fl">注册会员总数</span>
                        <a href="?s=admin/member/lists" title="点击去查看"><span class="fr" data-id="member_total">{$member}</span></a>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="text-left today-sales padding-big padding-small-top padding-small-bottom line-height-40">
                        <span class="fl">今日登陆用户数</span>
                        <span class="fr" data-id="login_total">{$today_login}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="fl w50 padding-small-left">
            <table cellpadding="0" cellspacing="0" class="border bg-white layout">
                <tbody>
                <tr class="bg-gray-white line-height-40 border-bottom">
                    <th class="text-left padding-big-left">资金管理</th>
                </tr>
                <tr class="border-bottom">
                    <td class="text-left to本月day-sales padding-big line-height-40">
                        <span class="fl">今日销售额</span>
                        <span class="margin-left text-big fl">￥<em class="h2 fr" data-id="today-amount">{$sale}</em></span>
                        <span class="text-main fr">人均客单价：￥ <em data-id="today-average">{$per_capita}</em>
									</span>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="text-left today-sales padding-big padding-small-top padding-small-bottom line-height-40">
                        <span class="fl">本月销售额</span>
                        <span class="margin-left fl">￥ <em data-id="month-amount">{$month}</em></span>
                        <span class="fr">以自然月统计</span>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="text-left today-sales padding-big padding-small-top padding-small-bottom line-height-40">
                        <span class="fl">今年销售额</span>
                        <span class="margin-left fl">￥ <em data-id="year-amount">{$year}</em></span>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="text-left today-sales padding-big padding-small-top padding-small-bottom line-height-40">
                        <span class="fl">今日分红池</span>
                        <span class="margin-left fl">￥ <em data-id="last_total">{$todayred}</em></span>
                        <span class="fl">（昨日确认收货订单金额￥ <em data-id="totals">{$yesday_mny}</em> *  <em data-id="share_ratio">{$proportion}</em>%+昨日分红池￥ <em data-id="money_pool">{$yesred}</em>）</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="fl w50 padding-small-left margin-top">
            <table cellpadding="0" cellspacing="0" class="border bg-white layout">
                <tbody>
                <tr class="bg-gray-white line-height-40 border-bottom">
                    <th class="text-left padding-big-left">微信会员信息</th>
                </tr>
                <tr class="border-bottom">
                    <td class="text-left today-sales padding-big padding-small-top padding-small-bottom line-height-40">
                        <span class="fl">关注人数</span>
                        <span class="margin-left text-big fl"><em class="h2 fr" data-id="subscribe">{$concerns}</em></span>
                    </td>
                </tr>
                <tr class="border-bottom">
                    <td class="text-left today-sales padding-big padding-small-top padding-small-bottom line-height-40">
                        <span class="fl">取消关注人数</span>
                        <span class="margin-left fl"><em data-id="un_subscribe">{$unconcerns}</em></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}
{block name='script'}

{/block}